@CHARSET "UTF-8";
.pagefooter_div {
	width: 1250px;
	height: 280px;
	float: left;
	background: white;
	
	padding: 0px;
	margin: 0px;
	
}
.pagefooter_box {
	width: 1075px;
	height: 180px;
	float: left;
	background: white;
	border: 2px #008000;
	padding: 5px;
	margin: 5px;
}